        <div class="ui page grid overview" ng-show="!loading">
            <div class="ui two wide column"></div>
            <div class="twelve wide column">

                <div class="ui one column center  aligned stackable  grid">
                <div class="column">

                	<div class="ui large labels">
	                  <div class="ui label" ng-model="points">
        						Points
        						<span class="detail"><i class="red icon">P</i> {{ points }}</span>
        					' </div>
        					  <div class="ui label" ng-model="date">
        					  	<i class=" time red icon" />
        					    {{ date }}
        					  </div>

					</div>

                </div>

                </div>


            </div>


        </div>        

        <div ng-repeat="plant in plants" class="ui page grid overview segment">

            <div class="ui two wide column"></div>
            <div class="twelve wide column">



                <div class="ui two column stackable grid" >
                <div class="column">
                    <div class="ui background center aligned segment">
                        <img id="pfimg" class="ui image" ng-src="{{plant.associatedMedia}}" >
                    </div>
                </div>
                <div class="column">
                    <div class="ui  segment">

                          
                          <div  ng-repeat-start="info in plant.infos track by $index"  ng-class="{'ui blue ' : true}" >
                            <div class="ui ribbon label">{{info[0]}}</div>

                             <p>{{info[1]}}</p></div>
                          </p >
                          <div ng-repeat-end/>

                    </div>
                    <div class="ui center aligned basic segment">

                        <button class="ui button" ng-disabled="plant.sparql.clickable" ng-click="getInformation(plant)">more</button>
                        <button class="ui red button"  ng-click="report(plant)">Report</button>

                    </div>

                </div>

                </div>

                <div class="ui one column stackable grid">
                <div class="column" ng-show="plant.sparql.clickable">

                    <div class="ui active inverted dimmer" ng-show="plant.sparql.clickable && !plant.sparql.data[0]">
                      <div class="ui text loader">Loading</div>
                    </div>
                    <div class="ui top attached tabular menu">

                      <a ng-repeat="info in plant.sparql.data" ng-class="{'item':true, 'active': $index == plant.sparql.active[0]}" ng-click="changeContent(info,plant,$index)">
                        {{info[0]}}
                      </a>
                    </div>
                    <div class="ui bottom attached segment" >
                        {{plant.sparql.active[1]}}
                    </div>





                </div>
                </div>





                </div>
        </div> 
