 <div class="ui page grid overview segment">
            <div class="ui two wide column"></div>
            <div class="twelve wide column">
                
                <div class="ui one column stackable  grid">
                <div class="column">

                    <div class="ui background center  aligned piled segment">
                        <p/>
                        <form class="ui form" name="form" ng-submit="login(form)">
                      

                          <div class="field">
                            <label>Email</label>
                            <div class="ui left labeled icon input">
                              <input type="text" name="email" ng-model="user.email">
                              <i class="lock icon"></i>
                              <div class="ui corner label">
                                <i class="icon asterisk"></i>
                              </div>
                            </div>
                          </div>
                          <div class="field">
                            <label>Password</label>
                            <div class="ui left labeled icon input">
                              <input type="password" name="password"
                               ng-model="user.password">
                              <i class="lock icon"></i>
                              <div class="ui corner label">
                                <i class="icon asterisk"></i>
                              </div>
                            </div>
                          </div>
                          <div ng-style="error" class="ui error message">
                            <div class="header" ng-model="errormsg">{{errormsg}}</div>
                          </div>
                          <button class="ui blue submit button"  type="submit">Login</button>

                        </form>

                        <div class="ui horizontal divider">
                          Or
                        </div>
                        <a href="/signup" class="ui teal labeled icon button">
                          Sign Up
                          <i class="signup icon"></i>
                        </a>
                    </div>

                </div>
                </div>
            </div>

        </div>
