        <div id="card">

        </div>

        <div class="ui page grid overview" ng-show="!loading">
            <div class="ui two wide column"></div>
            <div class="twelve wide column">

                <div class="ui one column stackable  grid">
                <div class="column">
		            <h1 class="ui center aligned icon header">
		                <i class="circular green icon">Bq</i>
		                <div class="sub header">Botanik Quiz</div>
		            </h1>


	            </div>

                </div>


            </div>


        </div>        
